*{
    --orchid: #3b205f;
    --orchid-hover: #214864;
    --beeswax: rgba(240, 219, 170);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    text-transform: uppercase;
    background: var(--orchid);
    color: white;
    font-size: 16px;
    border: 0 none;
    outline: 0;
    border-radius: 5px;
}

.button:hover {
    cursor:pointer;
}

.button.primary {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    width: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.primary:hover, .secondary:hover {
    background-color: var(--orchid-hover);
    color: white;
}

.secondary {
    font-size: 13px;
    width: 90px;
    height: 45px;
    background-color:#4e2c4e;
}

.select {
    background-color: green;
    width: 95px;
    height: 40px;
    font-size: 13px;
    border-radius: 15px;
}

.select:hover {
    background-color: rgb(9, 49, 9);
    font-weight: bold;
}

.prev-btn, .next-btn {
    height: auto;
    font-size: 30px;
    background: none;
    flex: 1;
}

.prev-btn {
    justify-content: flex-end;
}

.next-btn {
    justify-content: start;
}

