:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
}

.selectedServiceArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 340px;
  margin: auto;
  align-items: center;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid;
  padding: 15px 8px;
  margin-right: 10px;
}

.calendarHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  height: 50px;
}

.dateTitleContainer {
  width: 160px;
  text-align: center;
  align-self: center;
  color: var(--blue-grey-100);
}

.calendar-container {
  margin-top: 20px;
  width: 100%;
  background-color: #343434;
  color: aliceblue;
  padding: 7px;
}

.calendar-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-header,
.table-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.table-header {
  color: rgb(56, 18, 56);
  background-color: rgb(204, 197, 207);
}

.table-header>* {
  font-size: 0.8em;
  font-weight: 550;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

.table-content {
  margin-top: 0.5em;
}

.table-content button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
}

.table-content button:hover:enabled,
.table-content button:focus:enabled,
.calendar-day:enabled {
  outline: none;
  background-color: var(--teal-700);
  color: var(--blue-grey-050);
}

.table-content button:disabled {
  outline: none;
  color: var(--blue-grey-600);
}

.time-list-container {
  position: relative;
  height: 62px; 
  margin: 1em auto;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
  background-color: rgba(209, 206, 206, 0.5);
}

.time-list {
  height: 70px;
  box-sizing: border-box;
  white-space: nowrap;
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  /* -webkit-overflow-scrolling: touch; */
  scroll-behavior: smooth;
  margin: 10px 30px;
  overflow: hidden;
  /* display: flex; */
  /* justify-content: space-between; */
}

.flex {
  display: flex;
}
