.modal {
    position: absolute;
    display: flex;
    width: 256px;
    height: 300px;
    color: rgb(2, 2, 2);
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    padding: 15px;
}
 
.times-circle {
  color: rgb(25, 73, 25);
  font-size: 65px;
  flex-basis: 100%;
  text-align: center;
  margin: auto;
}
    
   
.msg {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}
